// Spacing variables
$spacing-1x: 4px;

// Color variables

$color-bg: #faeffe;

$color-primary-1: #e14eca;
$color-primary-2: #ba54f5;
$color-primary-3: #dc7bdc;
$color-primary-4: #ba7eba;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;
