// Spacing variables
$spacing-1x: 4px;
$spacing-4x: 16px;
$spacing-5x: 20px;
$spacing-8x: 32px;
$spacing-12x: 58px;

// Color variables

$color-bg: #faeffe;

$color-primary-1: #e14eca;
$color-primary-2: #ba54f5;
$color-primary-3: #dc7bdc;
$color-primary-4: #ba7eba;

$background-black: #f3d7f3;
$white: white;
$red: red;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;
